.header {
  /* padding: 2rem 10%; */
  margin: 2rem 10%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2f2fa1;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #2f2fa1;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #2f2fa1;
  color: #ffff82;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #ffff82;
  color: #2f2fa1;
}
